body {
 font-family: Georgia;
}    

#header {
    padding-top: 50px;
    padding-left: 350px;
}

#workhistory {
    padding-top: 80px;
    padding-left: 350px;
}

#tools {
    padding-top: 80px;
    padding-left: 350px;
}

#tools {
    padding-top: 80px;
    padding-left: 70px;
}

#log {
    padding-top: 80px;
    padding-left: 350px;
}

